<body>

  <app-header></app-header>

  <main id="about">

    <h1 class="lg-heading">
      About <span style="color:rgb(240, 80, 106)">Me</span>
    </h1>
    <br>
    <h2 class="sm-heading"></h2>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="30%">
        <img class="img" src="../../assets/images/profile-pic1.jpg" alt="JohnLloyd Riego Encinas">
      </div>
      <br>
      <div fxFlex="15%">
        <div class="icon">
          <a href="https://www.facebook.com/johnlloydriego.encinas" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://twitter.com/JohnCas47480724" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/johnlloyd-encinas-182895210/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://github.com/JohnMarston123" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
      <br>
      <div fxFlex="55%">
        <mat-card class="about1-card">
          <mat-card-content>
            <p>I'm a third year college student from Batangas State University - Mabini. My degree is BS Information Technology major in Business Analytics.
              I like programming, gaming, science, music and making people laugh.<br>Here are some of my experiences and expertise:</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="0.5%"
         fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">INNOVATIVE IDEAS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Worked in Different projects at school with different and Innovative ideas on Various Technology.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">FRONT-END DEVELOPMENT</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> Worked on many Front-End projects using various language. </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">BACK-END DEVELOPMENT</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> I'm Currently learning Backend Development about databases and backend languages. </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </main>

  <app-footer></app-footer>

</body>
