<body>

  <app-header></app-header>

  <main id="about">

    <h1 class="lg-heading">
      About <span style="color:rgb(240, 80, 106)">Me</span>
    </h1>
    <br>
    <h2 class="sm-heading"></h2>
    <br>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="30%">
        <img class="img" src="../../assets/images/profile-pic1.jpg" alt="JohnLloyd Riego Encinas">
      </div>
      <br>
      <div fxFlex="15%">
        <div class="icon">
          <a href="https://www.facebook.com/johnlloydriego.encinas" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://twitter.com/JohnCas47480724" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/johnlloyd-encinas-182895210/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <div class="icon">
          <a href="https://github.com/JohnMarston123" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        </div>
      </div>
      <br>
      <div fxFlex="55%">
        <mat-card class="about1-card">
          <mat-card-content>
            <p>Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before final copy is available.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <br>
    <br>
    <div class="container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="0.5%"
         fxLayoutAlign="center">
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Academics</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> ------ <br> - --------</p>
            <p> ------ <br> - --------</p>
            <p> ------ <br> - --------</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Coding</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="34%">
        <mat-card class="about-card">
          <mat-card-header class="about-header">
            <mat-card-title class="about-title">Skills</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
            <p> ------------------------ </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </main>

  <app-footer></app-footer>

</body>
