<body>
  <app-header></app-header>
  <main>
    <h1 class="lg-heading">
      JohnLloyd Riego<span style="color:rgb(240, 80, 106)"> Encinas</span>
    </h1>
    <br>
    <h2 class="sm-heading">
      Web Developer, Programmer & Designer
    </h2>
    <div style="text-align: center;">
    <div class="icons">
      <a href="https://www.facebook.com/johnlloydriego.encinas" target="_blank">
        <i class="fab fa-facebook fa-4x"></i>
      </a>
    </div>
    <div class="icons">
      <a href="https://twitter.com/JohnCas47480724" target="_blank">
        <i class="fab fa-twitter fa-4x"></i>
      </a>
    </div>
    <div class="icons">
      <a href="https://github.com/JohnMarston123" target="_blank">
        <i class="fab fa-github fa-4x"></i>
      </a>


    </div>
    </div>
  </main>
  <app-footer></app-footer>
</body>
